html
    head
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        title Website for login using Google
    body
        h1.description#app Your login page
        p.descrption_paragraph Log in to your website using Google authentication.
        button.description_button
            a(href='/auth/google').description_button-link LOGIN