html
    head
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        title= name
    body.background_logged
        h1.description#app User page
        p.descrption_paragraph Welcome on the user page.