html
    head
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        title= name
    body
        h1.description#app= name
        p.descrption_paragraph This webpage's purpose is to login you to another webpage using Google authentification options.
        button.description_button
            a(href=url).description_button-link LOGIN